<!DOCTYPE html>
<html>
	<head>
		<title>Consulta Veraz</title>
		<link rel="stylesheet" href="/%(baseUri)s/public/css/styles.css"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	</head>

	<body>
			<h1>Consulta Veraz</h1>

			<form name="consultaVeraz" action="http://%(host)s/%(baseUri)s/consultaVeraz" method="POST">
				<label>Nro. documento: </label>
				<input type="text" id="numeroDocumento" name="numeroDocumento" \>
				<br/>

				<label>Nombre: </label>
				<input type="text" id="nombre" name="nombre" size="50" \>
				<br/>

				<label>Sexo: </label>
				<select id="sexo" name="sexo">
					<option></option>
					<option>M</option>
					<option>F</option>
				</select>
				<br/>

				<button type="submit">Consultar</button>
			</form>

			<script type="text/javascript">
				$(document).ready(function() {
					$('#numeroDocumento')
					.focus()
					.blur(function() {
							$.get(
								'/nbsf/consultaPadron?numeroDocumento=' + $(this).val(),
								function(data) {
									$('#nombre').val($(data).find('Nombre1').text().replace(' ', ', '));
									$('#sexo').val($(data).find('Sexo1').text());
								});
					});
				});
			</script>
	</body>
</html>