{% extends "base.html" %}

{% block title %}Baja masiva de pr&eacute;stamos pendientes - Respuesta{% endblock %}

{% block content %}
{% if prestamos %}
<ul class="nav nav-pills">
	<li class="active"><a href="#resultado" data-toggle="tab">Resultados</a></li>
	<li><a href="{{ url_for('bajaPrestamosForm') }}">Volver</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="resultado">
    <h3></h3>

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Resultados</h3>
		  </div>

			<table class="table table-striped table-condensed table-hover">
				{% for uidPrestamo, resultado in prestamos|dictsort %}
				<tr>
					<td class="active"><strong>{{ uidPrestamo }}</strong></td>
					<td>{{ resultado }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% else %}

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
	No se encontraron pr&eacute;stamos pendientes para el cliente
</div>

<a href="?" class="btn btn-primary">Volver</a>

{% endif %}
{% endblock %}
