{% extends "base.html" %}

{% block title %}Desbloquear cliente{% endblock %}

{% block content %}
<form class="form-horizontal" name="desbloqueo-cliente" action="desbloquearCliente" method="POST">
	{% include "includes/form_tipo_documento.inc.html" %}

	<div class="form-group col-sm-10">
		<input class="form-control" type="text" name="numeroDocumento" placeholder="Nro. documento" maxlength="11" \>
	</div>

	<div class="form-group col-sm-10">
		<input class="form-control" type="text" name="usuario" placeholder="Usuario" \>
	</div>

	<div class="form-group col-sm-10">
		<input type="text" name="numeroCliente" placeholder="NIT" maxlength="13" hidden="true" \>
	</div>

	<div class="form-group col-sm-10">
		<button type="submit" class="btn btn-primary has-spinner" name="consultar">
			<span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
			Desbloquear
		</button>
	</div>
</form>
{% endblock %}
