<div class="tab-pane" id="legajoDigitalSeleccion">
	<h3></h3>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Documentaci&oacute;n a presentar</h3>
		</div>
		{% for documento in variables.documentos|sort %}
		<div class="panel-heading">
			<h4 class="panel-title">
				{{ documento.descripcion }}
				{% if documento.etiqueta %} [{{ documento.etiqueta }}]{% endif %}
			</h4>
		</div>

		<div class="panel-body">
			<div class="tab-content">
				<br/>
				<label><input name="{{ documento.id }}" type="radio" value="F"> Versi&oacute;n f&iacute;sica</label>

				{% if documento.etiqueta %}
				<label><input name="{{ documento.id }}" type="radio" value="D"> Versi&oacute;n digital</label>
				<br>

				{% for version in documento.versiones[:1] %}
					<div class="panel-body">
						{% set ultimaFecha = version.archivos[0].fecha if not documento.versionable else None %}

						{% for archivo in version.archivos %}
						{% if ultimaFecha == None or archivo.fecha == ultimaFecha %}
						{% if archivo.tipo == 'unknown' %}
							<img src="{{ url_for('static', filename='images/notfound.png') }}" alt="{{ archivo.nombre }}" title="{{ documento.descripcion }}{% if documento.etiqueta %} [{{ documento.etiqueta }}]{% endif %} - No encontrado" class="document-thumbnail">
						{% else %}
							{% if archivo.tipo == 'image' %}
							<a href="javascript:;" rel="{{ archivo.id }}" class="image-preview"><img src="{{ archivo.urlMiniatura }}" alt="{{ archivo.nombre }}" title="{{ documento.descripcion }}{% if documento.etiqueta %} [{{ documento.etiqueta }}]{% endif %}" class="document-thumbnail"></a>
							{% else %}
							<a href="{{ archivo.url }}" rel="{{ archivo.id }}" target="_blank" class="document-preview"><img src="{{ archivo.urlMiniatura }}" alt="{{ archivo.nombre }}" title="{{ documento.descripcion }}{% if documento.etiqueta %} [{{ documento.etiqueta }}]{% endif %}" class="document-thumbnail"></a>
							{% endif %}

							<input class="hidden" type="checkbox" disabled="true" rel="{{ documento.id }}" name="chk-{{ archivo.id }}">
						{% endif %}
						{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
				{% else %}
				<label><input type="radio" disabled="disabled"> Versi&oacute;n digital no disponible</label>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>

	<a class="btn btn-primary verificar-seleccion">Verificar</a>
</div>
