{% extends "base.html" %}

{% block title %}Consultar padr&oacute;n electoral{% endblock %}

{% block content %}
<form class="form-horizontal" name="consulta-padron" action="{{ url_for('consultarPadron') }}" method="POST">
	{% include "includes/form_tipo_documento.inc.html" %}

	<div class="form-group col-sm-10">
		<input class="form-control" type="text" name="numeroDocumento" placeholder="Nro. documento" maxlength="11" \>
	</div>

	{% include "includes/form_tipo_respuesta.inc.html" %}

	<div class="form-group col-sm-10">
		<button type="submit" class="btn btn-primary has-spinner" name="consultar">
			<span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
			Consultar
		</button>
	</div>
</form>
{% endblock %}
