{% extends "base.html" %}

{% block title %}Consultar pr&eacute;stamos pendientes - Respuesta{% endblock %}

{% block content %}
{% if variables %}
<ul class="nav nav-pills">
	<li class="active"><a href="#variables" data-toggle="tab">Variables</a></li>
	<li><a class="linkBajaMasivaPrestamos" href="{{ url_for('bajaMasivaPrestamos') }}?tipoDocumento={{ variables.tipoDocumento }}&numeroDocumento={{ variables.numeroDocumento }}">Baja masiva</a></li>
	<li><a href="?">Volver</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="variables">
    <h3></h3>

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Variables</h3>
		  </div>

			<table class="table table-striped table-condensed table-hover">
				<tr>
					<td class="active"><strong>Total pr&eacute;stamos pendientes</strong></td>
					<td>{{ variables.totalPrestamos }}</td>
				</tr>
				<tr>
					<td class="active"><strong>UIDs pr&eacute;stamos pendientes</strong></td>
					<td>
						{% for uid in variables.prestamos %}
							<a class="linkBajaPrestamo" href="{{ url_for('prestamosPendientes') }}?accion=BajaEnWF&tipoDocumento={{ variables.tipoDocumento }}&numeroDocumento={{ variables.numeroDocumento }}&uidPrestamo={{ uid }}" title="Solicitar baja de UID {{ uid }}">{{ uid }}</a>
							{% if not loop.last %}, {% endif %}
						{% endfor %}
					</td>
				</tr>
			</table>

			<div class="panel-footer">
				<p>
					<small>Haga clic en los UIDs de los préstamos pendientes para solicitar la baja de cada operación.</small>
				</p>
			</div>
		</div>
	</div>
</div>

{% else %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  No se encontraron pr&eacute;stamos pendientes
</div>

<a href="?" class="btn btn-primary">Volver</a>

{% endif %}
{% endblock %}
