<ul class="nav navbar-nav navbar-right">
	{% if current_user.is_authenticated %}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Operaciones <span class="caret"></span></a>

		<ul class="dropdown-menu" role="menu">
			<li role="presentation" class="dropdown-header">AS-400</li>
			<li><a href="{{ url_for('as400_gestionarBloqueoCliente') }}">Bloquear / desbloquear cliente</a></li>
			<li class="divider"></li>
			<li role="presentation" class="dropdown-header">Broker</li>
			<li><a href="{{ url_for('broker_gestionarPrestamos') }}">Alta / baja de pr&eacute;stamos</a></li>
			<li class="divider"></li>
			<li role="presentation" class="dropdown-header">Externas</li>
			<li><a href="{{ url_for('soat_habilitarTarjeta') }}">SOAT - Habilitar tarjeta de d&eacute;bito</a></li>
		</ul>
	</li>

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Consultas <span class="caret"></span></a>

		<ul class="dropdown-menu" role="menu">
			<li role="presentation" class="dropdown-header">AS-400</li>
			<li><a href="{{ url_for('as400_consultarCliente') }}">Datos del cliente</a></li>
			<li><a href="{{ url_for('as400_consultarPadronElectoral') }}">Padr&oacute;n electoral</a></li>
			<li class="divider"></li>

			<li role="presentation" class="dropdown-header">Broker</li>
			<li><a href="{{ url_for('broker_consultarCupoCUAD') }}">Cupo CUAD (APP)</a></li>
			<li><a href="{{ url_for('broker_consultarPrestamosPendientes') }}">Pr&eacute;stamos pendientes</a></li>
			<li class="divider"></li>

			<li role="presentation" class="dropdown-header">Externas</li>
			<li><a href="{{ url_for('consultarPadronAFIP') }}">AFIP - Padr&oacute;n</a></li>
			<li><a href="{{ url_for('consultarLegajoDigital') }}">Legajo digital</a></li>
			<li><a href="{{ url_for('consultarPrieto') }}">Prieto</a></li>
			<li><a href="{{ url_for('consultarSOAT') }}">SOAT - Estado tarjeta de d&eacute;bito</a></li>
			<li><a href="{{ url_for('consultarVeraz') }}">Veraz</a></li>
			<li class="divider"></li>

			<li role="presentation" class="dropdown-header">Workflow</li>
			<li><a href="{{ url_for('wf_consultarCuotaMA') }}">An&aacute;lisis cuota m&aacute;xima mercado abierto</a></li>
		</ul>
	</li>

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reportes <span class="caret"></span></a>

		<ul class="dropdown-menu" role="menu">
			<li role="presentation" class="dropdown-header">Workflow</li>
			<li><a href="{{ url_for('wf_cuentasQRProcesadas') }}">WF Solicitudes masivas - Cuentas QR procesadas</a></li>
		</ul>
	</li>
	{% endif %}

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ current_user.first_name }} <span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>

		<ul class="dropdown-menu" role="menu">
			{% if not current_user.is_authenticated %}
			<li><a href={{ url_for('user.login') }}>Ingresar</a></li>
			{% else %}
			<li><a href={{ url_for('user.profile') }}>Modificar datos</a></li>
			<li><a href={{ url_for('user.change_password') }}>Cambiar clave</a></li>
			<li><a href={{ url_for('user.logout') }}>Cerrar sesi&oacute;n</a></li>
			{% endif %}
		</ul>
	</li>
</ul>

