{% extends "base.html" %}

{% block title %}Consultar cupo CUAD{% endblock %}

{% block content %}
<form class="form-horizontal" name="consulta-cupo-cuad" action="consultarCupoCUAD" method="POST">
	<div class="form-group col-sm-3">
		<input class="form-control" type="text" name="numeroCuit" placeholder="Nro. CUIT" maxlength="11" \>
	</div>

	{% include "includes/form_tipo_respuesta.inc.html" %}

	<div class="form-group col-sm-10">
		<button type="submit" class="btn btn-primary has-spinner" name="consultar">
			<span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
			Consultar
		</button>
	</div>
</form>
{% endblock %}