{% extends "base.html" %}

{% block title %}Consulta Veraz{% endblock %}

{% block content %}
<form class="form-horizontal" name="consulta-veraz" action="consultaVeraz" method="POST">
	<div class="form-group col-sm-3">
		<input class="form-control" type="text" name="numeroDocumento" placeholder="Nro. de documento" \>
	</div>

	<div class="form-group col-sm-10">
		<input class="form-control" type="text" name="nombre" size="50" placeholder="Nombre" \>
	</div>

	<div class="form-group col-sm-3">
		<label class="radio-inline">
			<input type="radio" name="sexo" id="sexo" value="M"> Masculino
		</label>
		<label class="radio-inline">
			<input type="radio" name="sexo" id="sexo" value="F"> Femenino
		</label>
	</div>

	<div class="form-group col-sm-10">
		<label class="radio-inline">
			<input type="radio" name="formato" value="xml" checked="true"> Formato XML
		</label>
		<label class="radio-inline">
			<input type="radio" name="formato" value="html"> Formato HTML
		</label>
	</div>

	<div class="form-group col-sm-10">
		<button type="submit" class="btn btn-primary" name="consultar">Consultar</button>
	</div>
</form>
{% endblock %}